@import url('https://cdn.jsdelivr.net/npm/@qpokychuk/gilroy@1.0.2/index.min.css');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: gilroy;
  color: #fff;
}
html, body{
  height: 100%;
  width: 100%;
}
body{
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

#page1{
  height: 100%;
  width:100%;
  background-color: black;
}
#page2{
  height: 100%;
  width:100%;
  background-color: rgb(9, 134, 175);
  padding: 5vw 0;
}
#page3{
  height: 100%;
  width:100%;
  background-color: black;
}
#page2 h1{
  font-size: 40vw;
  text-transform: uppercase;
  color: black;
  white-space: nowrap;
}