* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
  color: white;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
  font-size: 20vh;
  font-weight: 400;
  overflow: hidden;
}

h1 span{
  display: inline-block;
}